/* Start Flavours */
/*
*
* Base16 OneDark
* Author: Lalit Magant (http://github.com/tilal6991)
*
*/

@define-color base00 #282c34;
@define-color base01 #353b45;
@define-color base02 #3e4451;
@define-color base03 #545862;
@define-color base04 #565c64;
@define-color base05 #abb2bf;
@define-color base06 #b6bdca;
@define-color base07 #c8ccd4;
@define-color base08 #e06c75;
@define-color base09 #d19a66;
@define-color base0A #e5c07b;
@define-color base0B #98c379;
@define-color base0C #56b6c2;
@define-color base0D #61afef;
@define-color base0E #c678dd;
@define-color base0F #be5046;
/* End Flavours */

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Terminus;
  font-size: 14px;
  min-height: 0;
  border-radius: 0;
}

window#waybar {
  background-color: transparent;
  color: @base00;
}

button {
  background-color: @base04;
}

.modules-left,
.modules-center,
.modules-right {
  /* top, right, bottom, left */
  margin: 2px 2px 0px 2px;
  color: transparent;
}

.modules-left button:hover,
.modules-center button:hover,
.modules-right button:hover {
  background: @base00;
  color: @base07;
}


#workspaces button {
  margin: 0px;
  padding: 0px;
  background-color: @base05;
}

#workspaces button.empty {
  background-color: @base0B;
}

#workspaces button.active {
  background-color: @base01;
  color: @base07;
  font-weight: bold;
}

#workspaces button.hover {
  background: @base00;
  color: @base07;
}

#workspaces button.focused {
  background-color: @base00;
}

#workspaces button.urgent {
  background-color: @base08;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray {
  /* top, right, bottom, left */
  margin: 0px 0px 0px 0px;
  padding: 0px 15px 0px 10px;
  color: @base07;
  background-color: @base00;
}

#pulseaudio.muted,
#temperature.critical,
#network.disconnected {
  background-color: @base08;
}

@keyframes blink {
  to {
    background-color: @base07;
    color: @base00;
  }
}

#battery.critical:not(.charging) {
  background-color: @base08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: @base00;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: rgba(0, 0, 0, 0.2);
  background: inherit;
}
