/* Start Flavours */
/*
*
* Base16 OneDark
* Author: Lalit Magant (http://github.com/tilal6991)
*
*/

@define-color base00 #282c34;
@define-color base01 #353b45;
@define-color base02 #3e4451;
@define-color base03 #545862;
@define-color base04 #565c64;
@define-color base05 #abb2bf;
@define-color base06 #b6bdca;
@define-color base07 #c8ccd4;
@define-color base08 #e06c75;
@define-color base09 #d19a66;
@define-color base0A #e5c07b;
@define-color base0B #98c379;
@define-color base0C #56b6c2;
@define-color base0D #61afef;
@define-color base0E #c678dd;
@define-color base0F #be5046;
/* End Flavours */

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: Source Code Pro, Semibold;
  font-size: 16px;
  min-height: 0;
  border-radius: 99;
}

window#waybar {
  background-color: transparent;
  color: #ffffff;
}

button {
  background-color: @base04;
}

.modules-left,
.modules-center,
.modules-right {
  /* top, right, bottom, left */
  background: @base00;
  margin: 10 10 0 10;
  color: transparent;
}

#workspaces button {
  margin: 10;
  padding: 0;
}

#workspaces button.active {
  background-color: @base07;
  color: transparent;
}

#workspaces button:hover {
  background: @base00;
  color: transparent;
}

#workspaces button.focused {
  background-color: @base05;
}

#workspaces button.urgent {
  background-color: @base08;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray {
  margin: 10 0 10 5;
  padding: 0 10 0 10;
  color: @base00;
  background-color: @base07;
}

#tray {
  margin-left: 10;
}

#clock {
  margin-right: 10;
}

#pulseaudio.muted {
  background-color: @base08;
}

#network.disconnected {
  background-color: @base08;
}

#temperature.critical {
  background-color: @base08;
}

@keyframes blink {
  to {
    background-color: @base07;
    color: @base00;
  }
}

#battery.critical:not(.charging) {
  background-color: @base08;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @base08;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: rgba(0, 0, 0, 0.2);
  background: inherit;
}
